name: Deploy Staging

on:
  workflow_dispatch:

concurrency:
  group: deploy-staging-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test-before-deploy:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  deploy-staging:
    needs: [test-before-deploy]
    runs-on: ubuntu-latest

    if: >
      needs.test-before-deploy.outputs.test_result == 'success' &&
      (
        startsWith(github.ref_name, 'feature') ||
        startsWith(github.ref_name, 'hotfix') ||
        startsWith(github.ref_name, 'release')
      )

    environment: staging

    steps:
      - uses: actions/checkout@v4
      - run: npm install -g vercel

      - name: Deploy to STAGING
        run: vercel deploy --yes --token=${{ secrets.VERCEL_TOKEN }}
