name: Deploy Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        description: "select a deploy environment"
        options: [staging, production]
        default: staging

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: false


jobs:
  test-before-deploy:
    uses: ./.github/workflows/test.yml
    secrets: inherit


  # =========================
  #   STAGING DEPLOY
  # =========================
  deploy-staging:
    needs: [test-before-deploy]
    runs-on: ubuntu-latest

    if: >
      needs.test-before-deploy.outputs.test_result == 'success' &&
      github.event.inputs.environment == 'staging' &&
      (
        contains(github.ref_name, 'feature') ||
        contains(github.ref_name, 'hotfix') ||
        contains(github.ref_name, 'release')
      )

    environment: staging

    outputs:
      deployed: ${{ steps.mark-success.outputs.deployed }}

    steps:
      - uses: actions/checkout@v4
      - run: npm install -g vercel

      - name: Deploy to STAGING
        run: vercel deploy --yes --token=${{ secrets.VERCEL_TOKEN }}

      - run: npm ci

      - name: mark success
        id: mark-success
        run: echo "deployed=1" >> $GITHUB_OUTPUT


  # =========================
  #   PRODUCTION DEPLOY
  # =========================
  deploy-production:
    needs: [deploy-staging]  # ⭐ 必须 staging 成功
    runs-on: ubuntu-latest

    if: >
      github.event.inputs.environment == 'production' &&
      needs.deploy-staging.outputs.deployed == '1' &&
      (
        contains(github.ref_name, 'hotfix') ||
        contains(github.ref_name, 'release')
      )

    environment: production

    steps:
      - uses: actions/checkout@v4
      - run: npm install -g vercel

      - name: Deploy to PRODUCTION
        run: vercel deploy --prod --yes --token=${{ secrets.VERCEL_TOKEN }}
