
name: Deploy Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        description: "environment"
        options: [staging, production]

jobs:
  test-before-deploy:
    uses: ./.github/workflows/test.yml
    with:
      ref: refs/heads/main

  deploy:
    needs: [test-before-deploy]
    runs-on: ubuntu-latest
    if: ${{ needs.test-before-deploy.outputs.test_result == 'success' }}
    environment: ${{ github.event.inputs.environment }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: refs/tags/latest # 或者使用 release workflow 输出的 tag

      - run: npm install -g vercel

      - name: Deploy
        run: |
          if [[ "${{ github.event.inputs.environment }}" == "staging" ]]; then
            vercel deploy --yes --token=${{ secrets.VERCEL_TOKEN }}
          else
            vercel deploy --prod --yes --token=${{ secrets.VERCEL_TOKEN }}
          fi


